<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Редактирование задания</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Редактирование задания</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/items}">Все задания</a>
                <a class="nav-item nav-link" th:href="@{/formNewItems}">Новые</a>
                <a class="nav-item nav-link" th:href="@{/formDoneItems}">Выполненные</a>
                <a class="nav-item nav-link" th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
                    <div class="card-header">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"><small>№</small></th>
                                <th scope="col"><small>Категория</small></th>
                                <th scope="col"><small>Дата создания</small></th>
                                <th scope="col"><small>Выполнено</small></th>
                                <th scope="col"><small>Автор задания</small></th>
                            </tr>
                            </thead>
                            <tbody>
                                <td th:text="${item.id}"/>
                                <td>
                                    <span th:each="category: ${item.getCategories()}" th:text="${category.name} + ' ' + ' ' "></span>
                                </td>
                                <td th:text="${#temporals.format(item.created, 'dd-MM-yyyy HH:mm:ss')}"/>
                                <td th:if="${item.done}">Выполнено</td>
                                <td th:if="${!item.done}">Не выполнено</td>
                                <td th:text="${item.user.name}"/>
                            </tbody>
                        </table>
                        </table>
                    </div>
            <div class="card-header">
               <h6> Введите новые данные </h6>
            </div>
            <div class="card-body">
                <form th:action="@{/updateItem}" method="POST" th:object="${item}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="created" id="created" th:field="*{created}"/>
                    <input type="hidden" name="done" id="done" th:field="*{done}"/>
                    <input type="hidden" name="user.id" th:value="${user.id}">
                    <div class="form-group">
                        <label for="name">Задание:
                            <input type="text" class="form-control" size="30" name="name" id="name" th:field="*{name}">
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Подробное описание задания:</label>
                        <input type="text" class="form-control" name="description" id="description"
                               th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label for="category.id">Категории:
                            <select class="form-control" id="category.id" name="categoryId" multiple="multiple"
                                    size="3">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </label>
                        <p><small>выбор нескольких категорий находящихся рядом выделяются курсором или с кнопкой Shift,
                            категории находящиеся не рядом выделяются c кнопкой Ctrl</small></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>